@import url('https://fonts.googleapis.com/css?family=Alef|Metrophobic');
* {
  margin: 0;
  padding: 0;
  font-family: 'Alef', sans-serif;
}
body {
  background: #3fb6bf;
}
#description {
  padding: 30px;
  font-size: 1.5em;
  font-weight: bold;
}
.align-center {
  text-align: center;
}
main {
  margin: auto;
  width: 80%;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 2px;
}
.main-frame {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  border: 1px solid;
  border-radius: 5px;
  width: 80%;
  padding: 10px 0 20px 0;
  row-gap: 10px;
  column-gap: 20px;
}
.left-col {
  justify-self: end;
  text-align: right;
}
.right-col {
  justify-self: start;
  align-self: center;
}
input[type=radio],input[type=checkbox]{
  margin-right:10px;
}
textarea {
  height: 70px;
  border-radius: 5px;
}
#submit-button {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}
button {
  justify-self: center;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #00bfff;
  border-style: none;
  border-radius: 5px;
  box-shadow: 2px 3px;
}
button:hover {
  background-color: #0080ff;
}
@media (max-width: 900px) {
  .main-frame {
    column-gap: 20px;
  }
}
@media (max-width: 600px) {
  main{
    width:100%;
    min-width:150px;
  }
  .main-frame {
    max-width:95%;
    min-width:200px;
    margin: auto;
    grid-template-columns: 1fr;
    margin-top:10px;
    margin-bottom: 30px;
  }
  .left-col {
    width:95%;
    justify-self: start;
    text-align: left;
    padding-left: 10px;
  }
  .right-col {
    width:91%;
    justify-self: start;
    text-align: left;
    padding-left: 10px;
  }
  input{
    padding-left:10px;
    
    }
  .right-col>input.mobile{
    width:96%;
  }
  .right-col>select.mobile,textarea.mobile{
    width:99%;
  }
  button{
    width:90%;
  }
 
}
